body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#feedback-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#feedback-form textarea,
#feedback-form select {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
}

#feedback-form textarea {
    height: 200px;  /* 设置更大的高度 */
}

.input-group {
    display: flex;
    margin-bottom: 10px;
}

.input-group label {
    font-size: 18px;
    color: #333;
}

.input-group input[type="text"],
.input-group input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.input-group input[type="submit"]:hover {
    background-color: #45a049;
}

.custom-file-upload {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    margin-top: 65px;
    font-size: 16px;
}

#img {
    display: none;  /* 隐藏原生的文件选择按钮 */
}

.custom-file-upload label {
    padding: 10px 24px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

.custom-file-upload label:hover {
    background-color: #45a049;
}

#image-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}
#submit{
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
}
#submit:hover {
    background-color: #0056b3;
}
