tag{
    display: flex;
    flex-wrap: wrap;
    width: 15em;
}
tag a {
    font-size: 0.9em;
    color: rgb(113, 170, 216);
    border-radius:1em;
    background-color: #f3f3f3;
    padding: 0 10px;
    margin:2px 2px;
}
tag a:hover{
    color: rgb(163, 214, 255);
    background-color: #ebebeb;
}