<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lihao.mapper.ApiStatisticsMapper">
    <resultMap id="base_result_map" type="com.lihao.entity.po.ApiStatistics">
            <id property="id" column="id" />
            <result property="averageTime" column="average_time" />
            <result property="count" column="count" />
            <result property="maxTime" column="max_time" />
            <result property="minTime" column="min_time"/>
            <result property="name" column="name" />
    </resultMap>
    <sql id="base_column_list">
        id,average_time,count,max_time,min_time,name
    </sql>
    <select id="selectList" resultMap="base_result_map">
        select <include refid="base_column_list"/> from api_statistics
    </select>
    <insert id="insertOrUpdate" parameterType="com.lihao.entity.po.ApiStatistics">
        INSERT INTO api_statistics (id, average_time, count, max_time, min_time, name)
        VALUES (#{bean.id}, #{bean.averageTime}, #{bean.count}, #{bean.maxTime}, #{bean.minTime}, #{bean.name})
        ON DUPLICATE KEY UPDATE
                             average_time = VALUES(average_time),
                             count = VALUES(count),
                             max_time = VALUES(max_time),
                             min_time = VALUES(min_time),
                             name = VALUES(name);
    </insert>

</mapper>