<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lihao.mapper.ConcernMapper">
    <resultMap id="base_result_map" type="com.lihao.entity.po.Concern">
        <result column="user_id" property="userId"/>
        <result column="concern_id" property="concernId"/>
        <result column="concern_time" property="concernTime"/>
    </resultMap>
    <sql id="base_column_list">
        user_id,concern_id,concern_time
    </sql>
    <sql id="base_query_condition">
        <where>
            <if test="query.userId != null and query.userId !=''">
                and user_id = #{query.userId}
            </if>
            <if test="query.concernId != null and query.concernId !=''">
                and concern_id = #{query.concernId}
            </if>
        </where>
    </sql>
    <select id="select" resultMap="base_result_map">
        select <include refid="base_column_list"/>
        from concern
        where user_id = #{userId} and concern_id = #{concernId}
    </select>
    <select id="selectList" resultMap="base_result_map">
        select <include refid="base_column_list"/>
        from concern <include refid="base_query_condition"/>
        <if test="query.orderBy != null and query.orderBy !=''">
            order by ${query.orderBy}
        </if>
        <if test="query.page!=null">
            limit #{query.page.left},#{query.page.right}
        </if>
    </select>
    <insert id="insert" parameterType="com.lihao.entity.po.Concern">
        insert into concern
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.userId != null and bean.userId !=''">
                user_id,
            </if>
            <if test="bean.concernId != null and bean.concernId !=''">
                concern_id,
            </if>
            <if test="bean.concernTime != null">
                concern_time,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
                <if test="bean.userId != null and bean.userId !=''">
                    #{bean.userId},
                </if>
                <if test="bean.concernId != null and bean.concernId !=''">
                    #{bean.concernId},
                </if>
                <if test="bean.concernTime != null">
                    #{bean.concernTime},
                </if>
        </trim>
    </insert>
</mapper>