<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lihao.mapper.FeedBackMapper">
    <sql id="base_column">
        feedback_id,user_id,status,time,content,file,type
    </sql>
    <resultMap id="base_map" type="FeedBack">
        <id column="feeback_id" property="feedbackId"/>
        <result column="user_id" property="userId"/>
        <result column="status" property="status"/>
        <result column="time" property="time"/>
        <result column="file" property="file"/>
        <result column="type" property="type"/>
    </resultMap>
    <sql id="base_query_condition">
        <where>
            <if test="query.feedbackId!=null and query.feedbackId!=''">
                and feedback_id = #{query.feedbackId}
            </if>
            <if test="query.userId!=null and query.userId!=''">
                and user_id = #{query.userId}
            </if>
            <if test="query.feedbackId!=null and query.feedbackId!=''">
                and feedback_id = #{query.feedbackId}
            </if>
            <if test="query.status!=null">
                and status = #{query.status}
            </if>
            <if test="query.content!=null and query.content!=''">
                and content = #{query.content}
            </if>
            <if test="query.file!=null and query.file!=''">
                and file = #{query.file}
            </if>
            <if test="query.type!=null">
                and type = #{query.type}
            </if>
        </where>
    </sql>
    <insert id="insert" parameterType="com.lihao.entity.po.FeedBack">
        insert into feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.feedbackId != null and bean.feedbackId !=''">
                feedback_id,
            </if>
            <if test="bean.userId != null and bean.userId != ''">
                user_id,
            </if>
            <if test="bean.status != null ">
                status,
            </if>
            <if test="bean.time != null">
                time,
            </if>
            <if test="bean.content != null and bean.content != ''">
                content,
            </if>
            <if test="bean.file != null and bean.file != ''">
                file,
            </if>
            <if test="bean.type != null">
                type,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="bean.feedbackId != null and bean.feedbackId !=''">
                #{bean.feedbackId},
            </if>
            <if test="bean.userId != null and bean.userId != ''">
                #{bean.userId},
            </if>
            <if test="bean.status != null ">
                #{bean.status},
            </if>
            <if test="bean.time != null">
                #{bean.time},
            </if>
            <if test="bean.content != null and bean.content != ''">
                #{bean.content},
            </if>
            <if test="bean.file != null and bean.file != ''">
                #{bean.file},
            </if>
            <if test="bean.type != null">
                #{bean.type},
            </if>
        </trim>
    </insert>
    <select id="selectList" resultMap="base_map">
        select <include refid="base_column"/>
        from feedback
        <include refid="base_query_condition"/>
        <if test="query.orderBy!=null">
            order by ${query.orderBy}
        </if>
        <if test="query.page!=null">
            limit ${query.page.left},${query.page.pageSize}
        </if>
    </select>
</mapper>