body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
#post-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#title-cover-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#title {
    padding: 10px;
    margin-right: 20px;
    font-size: 24px;
    border: 1px solid #ddd;
    height: 55px;
    width: 400px;
}

#cover-container {
    position: relative;
    width: 200px;
    height: 75px;
}

.custom-file-upload {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}

.custom-file-upload label {
    padding: 10px 24px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.custom-file-upload label:hover {
    background-color: #45a049;
}

#cover {
    display: none;
}

#cover-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
}
#tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#tag-inputs {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
}

#tag-inputs input {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ddd;
    width: 100px; /* 设置固定的宽度 */
}

#addTag {
    padding: 5px 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    width: 50px; /* 设置固定的宽度 */
}

#editor {
    height: 380px;
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
#editor .w-e-text-container {
    height: 380px;
}

#submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

#submit:hover {
    background-color: #0056b3;
}
